{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="/static/41.jpg" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container mb-3 py-0">
    <h1 class="container text-center">"About Us"</h1>
</div>

<div class="container mb-2 py-0">
    <h5 class="container text-center">Welcome to Harsh's Blog</h5>
    <p class="container text-center">This website is created by Harsh with a passion for sharing ideas, stories, and insights on various topics. Here, we aim to build a community of like-minded individuals who are eager to explore new perspectives and engage in meaningful discussions.</p>
    <p class="container text-center">Our blog covers a wide range of subjects, from technology and innovation to lifestyle and personal development. Whether you're here to gain knowledge, find inspiration, or simply enjoy a good read, we're glad to have you with us.</p>
    <p class="container text-center">Join us on this journey of exploration, learning, and growth. Feel free to connect, comment, and share your thoughts. Together, let's create a space where ideas thrive and creativity flows.</p>
</div>

{% endblock body %}
