{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}
<link rel="stylesheet" href="/static/forgot_password.css"/>
<div class="container mt-5">
  <h2>Forgot Password</h2>
  <form method="POST" action="{% url 'forgot_password' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Enter your registered email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Send OTP/Link</button>
  </form>
</div>
{% endblock body %}
